
  .container {
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
  }

  @media (min-width: $tablet-width) {
  .container {
   margin-top: 106px;
   margin-left: 54px;
  }
}

@media (min-width: $tablet-width) {
  .container__tatile {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
}

@media (min-width: $tablet-width) {
  .container__submit {
    background: linear-gradient(99.59deg, #338CCC 3.28%, rgba(77, 171, 238, 0.984375) 3.29%, #347AAC 109.99%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: none;
    color: #ffffff;
    width: 121px;
    height: 39px;
    align-items: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 60px;
  }
}

@media (min-width: $tablet-width) {
  .container__image {
    margin-top: -162px;
    margin-left: 54px;
    margin-right: -39px;
  }
}

@media (min-width: $tablet-width) {
 .container__block {
   display: flex;
   flex-wrap: wrap;
 }
}

@media (min-width: $tablet-width) {
 .container__block-wrapper {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
 }
}
