@media (min-width: $tablet-width) {
.description-block {
  background: #181A2C;
  color: #ffffff;
  position: relative;
 }
}

@media (min-width: $tablet-width) {
.description-block__image {
  margin: 0 54px 0 79px;
  border-radius: 3px;
}
}

@media (min-width: $tablet-width) {
.description-block__vector {
  position: absolute;
  top: -146px;
  right: 0px;
 }
}
