@media (min-width: $tablet-width) {
  .description-video {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
  }
}

@media (min-width: $tablet-width) {
  .video__video-image {
    border-radius: 21px;
    position: relative;
    z-index: 0;
    margin-left: 71px;
  }
}

@media (min-width: $tablet-width) {
  .description-video__button {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 70px;
    height: 70px;
    border: none;
    display: block;
    z-index: 2;
    background: rgba(205, 214, 219, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .description-video-container__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    margin-top: 0;
    margin-bottom: 9px;
    text-align: left;
    margin-left: 34px;
  }
}

@media (min-width: $tablet-width) {
  .description-video-container__slogan {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 16px;
    text-align: left;
    margin-left: 36px;
  }
}


@media (min-width: $tablet-width) {
  .description-video__video {
    position: relative;
    background: url(../img/dots.svg);
    background-repeat: no-repeat;
    background-position: 46px 120px;
    height: 241px;
  }
}
