.description-block {
  background-color: #4a2b33;
  color: #d27487;
}

.description-block__title {
  font-family: "Azeret Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 62px;
  padding: 121px 90px 215px 56px;
}

.description-block__text {
  display: flex;
  flex-wrap: wrap;
}

.description-block__slogan {
  padding: 139px 109px 133px;
}
