.main-header__image {
  margin-left: 56px;
  margin-right: 56px;
}

.main-header {
  width: 100%;
}

.main-header__logo-image:hover {
  opacity: 0.5;
}

.main-header__logo-image:active {
  opacity: 0.3;
}
