
.main-header__wrapper {
  display: grid;
  grid-template-rows: 120px 680px;
  background-color: #4a2b33;
}

.main-header__logo-block {
  grid-column: 2/2;
  grid-row: 1/1;
}

.main-header__image {
  grid-column: 1/-1;
  grid-row: 2/2;
}

.main-header {
  margin: 0 auto;
}
