@media (min-width: $desktop-width) {
  .main-footer-nav {
    background-color: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .main-footer-nav__list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    margin-left: 432px;
    margin-right: 405px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer-nav__list-link {
    text-decoration: none;
    color: #000000;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__list {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__list-link {
    text-decoration: none;
    color: #6d6b67;
  }
}

@media (min-width: $desktop-width) {
  .main-footer-nav__list-link:hover,
  .main-footer__list-link:hover {
    opacity: 0.5;
  }
}

@media (min-width: $desktop-width) {
  .main-footer-nav__list-link:active,
  .main-footer__list-link:active {
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .main-footer-nav__list-item {
    margin-left: 32px;
    padding-top: 56px;
    padding-bottom: 7px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer-nav__list-item:nth-child(9),
  .main-footer-nav__list-item:nth-child(8),
  .main-footer-nav__list-item:nth-child(10),
  .main-footer-nav__list-item:nth-child(11),
  .main-footer-nav__list-item:nth-child(12),
  .main-footer-nav__list-item:nth-child(13),
  .main-footer-nav__list-item:nth-child(14) {
    margin-left: 32px;
    padding-top: 0;
    padding-bottom: 19px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__list-item {
    margin-right: 16px;
    padding-bottom: 39px;
  }
}
