@media (min-width: $tablet-width) {
.main-nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
}

@media (min-width: $tablet-width) {
.main-nav-list__link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 7px;
  line-height: 60px;
  line-height: 16px;
  text-decoration: none;
  color: #ffffff;
}
}

@media (min-width: $tablet-width) {
.main-nav-list__item:nth-child(2) {
  margin-top: 38px;
  margin-left: 23px;
}
}

@media (min-width: $tablet-width) {
.main-nav-list__item:nth-child(3) {
  margin-top: 38px;
  margin-left: 20px;
}
}

@media (min-width: $tablet-width) {
.main-nav-list__item:nth-child(4) {
  margin-top: 38px;
  margin-left: 147px;
}
}

@media (min-width: $tablet-width) {
.main-nav-list__item:nth-child(5) {
  margin-top: 38px;
  margin-left: 4px;
}
}

@media (min-width: $tablet-width) {
.main-nav-list__item:nth-child(5) {
  margin-top: 38px;
  margin-left: 5px;
}
}

@media (min-width: $tablet-width) {
.main-nav-list__item:nth-child(6) {
  margin-top: 38px;
  margin-left: 12px;
}
}

@media (min-width: $tablet-width) {
.main-nav-list__item:nth-child(7) {
  margin-top: 34px;
  margin-left: 12px;
}
}

@media (min-width: $tablet-width) {
.main-nav-list__link:hover {
  opacity: 0.5;
}
}

@media (min-width: $tablet-width) {
.main-nav-list__link:active {
  opacity: 0.3;
}
}

