
.main-description__header{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
 }

 @media (min-width: $tablet-width) {
.main-description-wrapper {
  margin-left: 74px;
 }
}

