
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter.woff2") format("woff2"),
    url("../fonts/inter.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Azeret Mono";
  font-style: normal;
  font-weight: 700;
  src: local("Azeret Mono"),
    url("../fonts/azeret mono.woff2") format("woff2"),
    url("../fonts/azeret mono.woff") format("woff");
  font-display: swap;
}
